*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: rgba(0,0,0,0.7) url('Foody.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode:lighten;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container h1{
    color: orangered;
    margin-left: 10px;
    cursor: pointer;
    font-weight: bolder;
}

.navbar ul li{
    display: inline-block;
    padding: 18px;
    text-transform: uppercase;
}

.navbar ul li a{
    text-decoration: none;
    color:#fff;
    padding: 4px;
    transition: 3.5s;
    font-weight: bold;
}

.navbar ul li a:hover{
    box-shadow: 0 3px 50px orangered inset, 0 3px 50px orangered inset,0 3px 50px orangered inset,0 3px 50px orangered inset;
}

.navbar .reservation{
    padding: 8px;
    background-color:orangered;
}

.content{
    position: absolute;
    color:green;
    top:  40%;
    left: 30%;
    font-weight: bold;
    
}

.content h3{
    font-family: sans-serif;
    font-size: 20px;
    margin-left: 30%;
}

.content h1{
    font-size: 50px;
}
.container p{
    text-align: center;
    margin-top: 17px;
}

.search{
    position: absolute;
    margin-top: 26%;
    margin-left: 42%;
}
.search input{
    outline: none;
    border: none;
    padding: 12px 40px;
    size: 1em;
    width: 100%;
    font-weight: bold;
}
.search input:hover{
    color:aqua;
}

.submit{
    position: absolute;
    margin-top: 31%;
    margin-left: 49%;
}

.submit a{
    text-decoration: none;
    color: #fff;
    padding: 12px 25px;
    background-color: orangered;
    font-weight: bold;
}
.submit a:hover{
    color:greenyellow;
}